
body {
	text-align: left;
	color: #1E2935;
	margin-left: 0px;
	margin-right: 0px;

}

h1 {
	font-family: 'Ultra', serif;
	font-size: 88px;
	padding: 0px;
	margin: 0px;
}

h2 {
	font-family: 'Raleway', sans-serif;
	font-weight: thin;
	font-size: 32px;
	line-height: 45px;
}

h3 {
	font-family: 'Raleway', sans-serif;
	font-size: 24px;
	padding: 5px;
}

h4 {
	font-family: 'Ultra', serif;
	font-size: 64px;
}

a {
  color: #1E2935;
  text-decoration: none;
}

a:hover {
  	text-decoration: none;
  	color: #1E2935;
}

.myname {
	padding-left: 85px;
	padding-right: 85px;
	background-color: #FBFBFB;
	padding-top: 30px;
	padding-bottom: 20px;
}

#rectangle {
	width: 320px;
	height: 50px;
	background: #3185FC;
  	transform: rotate(45deg);
  	margin-top: 150px;
  	position: absolute;
  	z-index: -1;
  	left: 60%;
}

#circle {
	width: 50px;
	height: 50px;
	border-radius: 100%;
	background: #00B16A;
  	position: absolute;
  	z-index: -1;
  	left: 50%;
  	top: 40%;
}

.hero {
	padding-left: 85px;
	padding-right: 85px;
	margin-bottom: 100px;
	padding-top: 30px;    
}

.work {
	padding-left: 85px;
	padding-right: 85px;

}
.casestudy {
    margin-top: 120px;
}

.last-cs {
    margin-bottom: 120px;
}

.about {
    background-color: #FBFBFB;
    font-size: 64px;
    padding-top: 60px;
    padding-bottom: 20px;
    padding-left: 85px;
    padding-right: 85px;
}

div.about-container {
	width: 1280px;
    margin: auto;
}


.panasonic {
	background-image: url('assets/illustrations/CitySkyline.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 100% 0%;
    background-clip: padding-box;
}


.ourpath {
	background-image: url('assets/illustrations/Broccoli.svg'), url('assets/illustrations/Carrot.svg'), url('assets/illustrations/Pear.svg'), url('assets/illustrations/Pepper.svg'), url('assets/illustrations/Watermelon.svg');
    background-repeat: no-repeat;
	background-size: 10%, 10%, 10%, 10%, 10%;
    background-position-y: 100%;
    background-position-x: 20%, 40%, 60%, 80%, 100%;
    background-clip: padding-box;
}

.kaiser {
	background-image: url('assets/illustrations/ReflexHammer.svg'), url('assets/illustrations/Stethoscope.svg');
    background-repeat: no-repeat;
    background-position-y: 100%;
    background-position-x: 50%, 100%;
    background-clip: padding-box;
}

.westernunion {
	background-image: url('assets/illustrations/GreenCar.svg'), url('assets/illustrations/RedCar.svg'), url('assets/illustrations/YellowCar.svg');
    background-repeat: no-repeat;
    background-position-y: 100%, 60%, 20%;
    background-position-x: 50%, 75%, 100%;
    background-clip: padding-box;
}


.ams {
	background-image: url('assets/illustrations/GreenGraph.svg');
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: contain;
    background-clip: padding-box; 
}

.vlocitysystem {
	background-image: url('assets/illustrations/Atom.svg'), url('assets/illustrations/Atom.svg'), url('assets/illustrations/Atom.svg');
    background-repeat: no-repeat;
    background-size: 15%;
    background-position-y: 50%, 100%, 50%;
    background-position-x: 50%, 75%, 100%;
    background-clip: padding-box;
}

.vlocityapp {
	background-image: url('assets/illustrations/Shield.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: 100%;
    background-position-x: 100%;
    background-clip: padding-box;
}



@media(max-width:767px){

	h1 {
		font-size: 56px;
	}

	h2 {
		font-size: 22px;
		line-height: 35px;
	}

	h3 {
		font-size: 16px;
		padding: 10px;
	}

	h4 {
		font-size: 32px;
	}

	.myname {
		padding-left: 35px;
		padding-right: 35px;
	}

	.hero {
		padding-left: 35px;
		padding-right: 35px;
		margin-bottom: 50px;
		padding-top: 10px;
	}

	#rectangle {
		width: 180px;
		height: 35px;
		background: #3185FC;
	  	transform: rotate(45deg);
	  	margin: 150px;
	  	position: absolute;
	  	z-index: -1;
	  	left: 15%;
	}

	#circle {
		width: 35px;
		height: 35px;
		border-radius: 100%;
		background: #00B16A;
	  	position: absolute;
	  	z-index: -1;
	  	left: 50%;
	  	top: 40%;
	}

	.work {
		padding-left: 35px;
		padding-right: 35px;
	}

	.panasonic {
		background-position-y: 50%;
	}

	.plane {
		display: none;
	}

	.westernunion {
		background-size: 30%;
	}

	.ourpath {
		background-image: url('assets/illustrations/Broccoli.svg');
		background-size: contain;
	}

	.kaiser {
		background-image: url('assets/illustrations/Stethoscope.svg');
	    background-size:contain;
	    background-clip: padding-box;
	}

	.ams {
		background-size: contain;
	}
	.vlocitysystem {
		background-image: url('assets/illustrations/Atom.svg');
		background-size: contain;
	}

	.vlocityapp {
		background-size: contain;
	}

	.about {
	    padding-left: 35px;
	    padding-right: 35px;
	}


}


#panasoniclink:hover {
	 animation: 3s flyPlane infinite;
	animation-play-state:running;
}

.plane {
  position: relative;
  left: 50%;
  animation: 3s flyPlane infinite;
  animation-play-state: paused; 
}


@keyframes flyPlane {  
  from {
      left: 50%;
  }
  to {
      left: 90%;
  }
