
body {
	text-align: left;
	color: #1E2935;
}

h1 {
	font-family: 'Ultra', serif;
	font-size: 88px;
	padding: 0px;
	margin: 0px;
}

h2 {
	font-family: 'Raleway', sans-serif;
	font-weight: thin;
	font-size: 32px;
	line-height: 45px;
}

h3 {
	font-family: 'Raleway', sans-serif;
	font-size: 24px;
}

h4 {
	font-family: 'Ultra', serif;
	font-size: 64px;
}

.myname {
	padding-left: 85px;
	padding-right: 85px;
}
.hero {
	padding-left: 85px;
	padding-right: 85px;
	margin-bottom: 100px;
	padding-top: 30px;
}

.work {
	padding-left: 85px;
	padding-right: 85px;

}
.casestudy {
    margin-top: 120px;
}

.last-cs {
    margin-bottom: 120px;
}

.about {
    background-color: #CCC;
    font-size: 64px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 85px;
    padding-right: 85px;
}

div.about-container {
	width: 1280px;
    margin: auto;
}




